# Bundler cache
.bundle
.claude
.cursor
vendor
Gemfile.lock
.history
.frontmatter
.vscode
.vscode/
.vscode/settings.json
# Jekyll cache
.jekyll-cache
_site
.history

# RubyGems
*.gem
*.rar
*.zip
*.pdf

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
assets/js/dist

.firecrawl/
